html {
    width: 100%;
    height: inherit;
}

canvas {
    display: block;
}

body {
    margin: 0;
}

button {
    padding: 12px;
    display:block;
    border-radius: 5%;
    position: absolute;
    top: 5px;
    left: 5px;
}